<template>
    <div>
        <div class='bullet' :class='bullet.type' v-for="bullet in car.bullets" v-bind:key="bullet.id" v-bind:style="{ 
            'transform': 'rotate('+(bullet.direction)+'deg)', 
            'height': bullet.height + 'px',
            'width': bullet.width + 'px',
            'margin-top': (bullet.topPos - mainCar.topPos)-(bullet.height/2) + 'px', 
            'margin-left': (bullet.leftPos - mainCar.leftPos)-(bullet.width/2) + 'px'}">
            </div>
        <div
            class="explosion" :class="explosion.type"
            v-for="explosion in car.explosions"
            v-bind:key="explosion.id"
            v-bind:style="{ 
            'margin-top': (explosion.topPos -mainCar.topPos) - (16) + 'px', 
            'margin-left': (explosion.leftPos - mainCar.leftPos) - (16) + 'px'}"
            />
        <div
            class="explosion" :class="explosion.type"
            v-for="explosion in car.smoke"
            v-bind:key="explosion.id"
            v-bind:style="{ 
            'width': (explosion.size) + 'px', 
            'height': (explosion.size) + 'px', 
            'border-radius': (explosion.size) + 'px', 
            'opacity': ((100 - explosion.lifespan) / 100), 
            'margin-top': (explosion.topPos -mainCar.topPos) - (16) + 'px', 
            'margin-left': (explosion.leftPos - mainCar.leftPos) - (16) + 'px'}"
            />
        <div
            class="car" :class='car.health > 0 ? car.type : car.type.split("-")[0] + "-death"'
            v-bind:style="{ 
            'transform': 'rotate('+(car.carDirection)+'deg)', 
            'opacity': car.phasing? '0.3' : '1',
            'margin-top': (car.topPos - mainCar.topPos) - (car.length/2) + 'px', 
            'margin-left': (car.leftPos - mainCar.leftPos) - (car.width/2) + 'px'}"
        ></div>
        <div v-if='car.activeWeapon' :class='car.type.split("-")[0]+"-weapon weapon-" + car.activeWeapon' v-bind:style="{ 
            'transform': 'rotate('+(car.carDirection)+'deg)',
            'margin-top': (car.topPos - mainCar.topPos) - (car.length/2) + 'px', 
            'margin-left': (car.leftPos - mainCar.leftPos) - (car.width/2) + 'px'}" />
        <div v-if='car.shield' class='shield' v-bind:style="{ 
            'margin-top': (car.topPos -mainCar.topPos) - (150) + 'px', 
            'margin-left': (car.leftPos - mainCar.leftPos) - (150) + 'px'}" />
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Car } from '../models/Car'

export default Vue.extend({
    data () {
        return {
            
        }
    },
    props: {
        car: {
            type: Car
        },
        mainCar: {
            type: Car
        }
    }
})

</script>