<template>
    <div class='popupBg'>
        <div class='popup'>
            <h1>You died</h1>
            <p>Killstreak: {{engine.mainCar.killstreak}}</p>
            <p v-if="engine.unlockedCheats.length === 0">You unlocked no cheats.</p>
            <div v-if="engine.unlockedCheats.length > 0">
                <p>You unlocked these cheats:</p>
                <ul>
                    <li v-for="cheat in engine.unlockedCheats" v-bind:key="cheat">{{cheat}}</li>
                </ul>
            </div>
            <button v-on:click="restart()">Again!</button>
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Engine } from '../modules/Engine'

export default Vue.extend({
    data () {
        return {
            
        }
    },
    props: {
        engine: {
            type: Engine
        }
    },
    mounted() {
        this.engine.unlockCheats()
        document.addEventListener('keydown', (event) => {
            if (event.which === 13) {
                window.location.reload()
            }
        })
    },
    methods: {
        restart()  {
            localStorage.name = this.engine.playerName;
            window.location.reload()
        }
    }
})

</script>