<template>
    <div
      class="box"
      v-bind:style="{ 
            'transform': 'scale('+(engine.scale)+')', }">
      <tileSet :tileSet="engine.tileSet" :mainCar="engine.mainCar"></tileSet>
      <markers v-if="engine.allEnemiesAreOutsideRange" :engine="engine" />
      <mainCar :mainCar="engine.mainCar" :carService="engine.carService"></mainCar>
      <car v-for="car in engine.otherPlayersList" v-bind:key="car.id" :car="car" :mainCar="engine.mainCar" />
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Engine } from '../modules/Engine'
import MainCar from "./MainCar.vue";
import Car from "./Car.vue";
import Markers from "./Markers.vue";
import TileSet from "./TileSet.vue";

export default Vue.extend({
    data () {
        return {
            
        }
    },
    components: {
        mainCar: MainCar,
        car: Car,
        Markers: Markers,
        tileSet: TileSet
    },
    props: {
        engine: {
            type: Engine
        }
    }
})

</script>