<template>
  <div class="box">
    <endScore :engine="engine" v-if="!engine.mainCar.active" />
    <login :engine="engine" v-if="!engine.playersLoaded && engine.playerName == ''" />
    <gameCanvas :engine="engine" v-if="engine.playerName != ''"/>
    <interface :engine="engine" v-if="engine.playerName != ''" />
    <mobile :engine="engine" v-if="engine.playersLoaded && engine.playerName != '' && isMobile"/>
    <keyboard :engine="engine" v-if="engine.playersLoaded && !isMobile"/>
  </div>
</template>
<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";
import EndScore from "./EndScore.vue";
import Login from "./Login.vue";
import Interface from "./Interface.vue";
import GameCanvas from "./GameCanvas.vue";
import Mobile from "./Mobile.vue";
import Keyboard from "./Keyboard.vue";

export default Vue.extend({
  data() {
    return {
      engine: new Engine(),
      isMobile: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    };
  },
  components: {
    endScore: EndScore,
    login: Login,
    interface: Interface,
    gameCanvas: GameCanvas,
    mobile: Mobile,
    keyboard: Keyboard
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
