<template>
    <div>
      <div class="player-list">
        <div v-for="(car) in engine.otherPlayersList" v-bind:key="car.id" class='player-score' v-bind:style="{ 
          'top': car.rank * 45 +'px'
          }">
          <span class='player-name'>{{car.name}}</span><span class='player-score'>{{car.killstreak}}</span>
        </div>
        <div class='player-score you' v-bind:style="{ 
          'top': engine.mainCar.rank * 45 +'px'
          }">
          <span class='player-name'>{{engine.mainCar.name}}</span><span class='player-score'>{{engine.mainCar.killstreak}}</span>
        </div>
      </div>
      <div
          class="killstreakMsg"
          v-for="killstreak in engine.mainCar.killstreaks"
          v-bind:key="killstreak.id">
          {{killstreak}}
          </div>
      <div 
        class="prompt"
        v-if="engine.mainCar.prompt">
        <p>{{engine.mainCar.prompt}}</p>
      </div>
      <div class='playerStats'>
        <h1>{{engine.mainCar.name}}</h1>
        <div class='healthBar' v-bind:style="{'background':'linear-gradient(90deg, #519771 '+Math.abs((Math.max(engine.mainCar.health,0)/engine.mainCar.maxHealth) * 100)+'%, #000 ' + Math.abs((Math.max(engine.mainCar.health,0)/engine.mainCar.maxHealth) * 100) + '%)'}">
          {{Math.round(Math.abs((Math.max(engine.mainCar.health,0)/engine.mainCar.maxHealth) * 100))}}%
        </div>
        <div v-if="engine.mainCar.activeWeapon" class='active-weapon' :class="'active-weapon-'+engine.mainCar.activeWeapon" />
      </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Car } from '../models/Car'
import { Score } from '../models/Score'
import { Engine } from '../modules/Engine'

export default Vue.extend({
    data () {
        return {
            
        }
    },
    props: {
      engine: {
        type: Engine
      }
    }
})

</script>