<template>
  <div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Engine } from '../modules/Engine'

export default Vue.extend({
    data () {
        return {
            
        }
    },
    props: {
      engine: {
          type: Engine
      }
    },
    created () {
        document.addEventListener('keydown', (event) => {
            switch (event.which) {
                case 38:
                case 87:
                    this.engine.carService.startForward(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "startForward")
                    break
                case 40:
                case 83:
                    this.engine.carService.startBackward(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "startBackward")
                    break
                case 37:
                case 65:
                    this.engine.carService.startLeft(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "startLeft")
                    break
                case 39:
                case 68:
                    this.engine.carService.startRight(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "startRight")
                    break
                case 32:
                    this.engine.carService.startBreak(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "startBreak")
                    break
                case 90:
                    this.engine.carService.startFiring(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "startFiring")
                    break
                case 16:
                    this.engine.carService.honk(this.engine.mainCar)
                    break
            }
        })
        document.addEventListener('keyup', (event) => {
            switch (event.which) {
                case 38:
                case 87:
                    this.engine.carService.endForward(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "endForward")
                    break
                case 40:
                case 83:
                    this.engine.carService.endBackward(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "endBackward")
                    break
                case 37:
                case 65:
                    this.engine.carService.endLeft(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "endLeft")
                    break
                case 39:
                case 68:
                    this.engine.carService.endRight(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "endRight")
                    break
                case 32:
                    this.engine.carService.endBreak(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "endBreak")
                    break
                case 90:
                    this.engine.carService.endFiring(this.engine.mainCar)
                    this.engine.carService.sendControlEvent(this.engine.mainCar, "endFiring")
                    break
            }
        })
    }
})

</script>