<template>
    <div id='login'>
      <div id='selector' ref='selector' />
      <form @submit.prevent="handleSubmit">
        <input type="text" v-model="username" ref='username' v-focus placeholder="your name..." v-on:click="selectUserName()" /><br />
        <input type="text" v-model="cheatCode" ref='cheatCode' placeholder="cheat" v-on:click="selectCheat()" /><br />

        <h1>Car</h1>
        <div class='carProperties' v-if="engine.carProperties" ref='carType'>
          <div class='carProperty' v-for="carProperty in selectableCars" v-bind:key="carProperty.id" v-on:click="selectCar(carProperty)" :class="selectedCarProperty==carProperty?'selected':''">
            <h3>{{carProperty.name}}</h3>
            <div class='carImage' v-bind:style="{ 
        'background-image': 'url(\'dist/cars/' + carProperty.name + '-' + carProperty.selected + '.png\')' }" />
            <div class='carSkills'>
              <h4>Speed</h4>
              <div class='skillBar' v-bind:style="{'background':'linear-gradient(90deg, #D0554A '+Math.abs((carProperty.maxSpeed/engine.carProperties.ultimateSpeed) * 100)+'%, #FDFDFE ' + Math.abs((carProperty.maxSpeed/engine.carProperties.ultimateSpeed) * 100) + '%)'}" />
              <h4>Steering</h4>
              <div class='skillBar' v-bind:style="{'background':'linear-gradient(90deg, #D0554A '+Math.abs((carProperty.turnSpeed/engine.carProperties.ultimateTurnSpeed) * 100)+'%, #FDFDFE ' + Math.abs((carProperty.turnSpeed/engine.carProperties.ultimateTurnSpeed) * 100) + '%)'}" />
              <h4>Health</h4>
              <div class='skillBar' v-bind:style="{'background':'linear-gradient(90deg, #D0554A '+Math.abs((carProperty.health/engine.carProperties.ultimateHealth) * 100)+'%, #FDFDFE ' + Math.abs((carProperty.health/engine.carProperties.ultimateHealth) * 100) + '%)'}" />
              <h4>Weight</h4>
              <div class='skillBar' v-bind:style="{'background':'linear-gradient(90deg, #D0554A '+Math.abs((carProperty.weight/engine.carProperties.ultimateWeight) * 100)+'%, #FDFDFE ' + Math.abs((carProperty.weight/engine.carProperties.ultimateWeight) * 100) + '%)'}" />
            </div>
          </div>
        </div>

        <h1 v-if="selectedCarProperty && selectedCarProperty.colors">Color</h1>
        <div class='carColors' v-if="selectedCarProperty" ref='carColor'>
          <div class='carColor' v-for="color in selectedCarProperty.colors" v-bind:key="color.id" v-on:click="selectColor(color)" :class="selectedCarProperty.selected==color?'selected':''">
            <div class='carColorBlock' v-bind:style="{'background-color':getColorCode(color)}" />
          </div>
          <button class='play' type="submit">Play</button>
        </div>
      </form>
      <p>{{ error }}</p>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Engine } from '../modules/Engine'

export default Vue.extend({
    data () {
        return {
            username: "",
            cheatCode: "",
            error: "",
            selectedCarProperty: null,
            selections: ['username', 'cheatCode', 'carType', 'carColor'],
            currentSelection: 0,
            selectableCars: null
        }
    },
    props: {
        engine: {
            type: Engine
        }
    },
    mounted() {
      document.addEventListener('click', (event) => {
        if (!this.engine.playersLoaded) {
          (<HTMLElement>this.$refs[this.selections[this.currentSelection]]).focus()
        }
      })
      document.addEventListener('keydown', (event) => {
        if (!this.engine.playersLoaded) {
          if (event.which === 13) {
            this.handleSubmit()
          }
          if(event.which === 9) {
            //tab
            event.preventDefault()
            this.changeSelection(1)
          }
          if(event.which === 40) {
            //down
            event.preventDefault()
            this.changeSelection(1)
          }
          if(event.which === 38) {
            //up
            event.preventDefault()
            this.changeSelection(-1)
          }
          if(event.which === 37) {
            //left
            event.preventDefault()
            this.changeOption(-1)
          }
          if(event.which === 39) {
            //left
            event.preventDefault()
            this.changeOption(1)
          }
        }
      })
      if (localStorage.name) {
        this.username = localStorage.name
      }
      this.selectedCarProperty = this.engine.carProperties.cars[0]
      this.selectableCars = this.engine.carProperties.cars.filter(c => !c.cheat )
    },
    methods: {
      selectUserName() {
        this.currentSelection = 0
        this.updateSelection()
      },
      selectCheat() {
        this.currentSelection = 1
        this.updateSelection()
      },
      selectCar(carType:any) {
        this.selectedCarProperty = carType
        this.currentSelection = 2
        this.updateSelection()
      },
      selectColor(color:string) {
        this.selectedCarProperty.selected = color
        this.currentSelection = 3
        this.updateSelection()
      },
      changeSelection(changeBy:number) {
        (<HTMLElement>this.$refs[this.selections[this.currentSelection]]).blur()
        this.currentSelection += changeBy
        if (this.currentSelection >= this.selections.length) {
          this.currentSelection = 0
        }
        if (this.currentSelection < 0) {
          this.currentSelection = this.selections.length -1
        }

        this.updateSelection()
      },
      updateSelection() {
        (<HTMLElement>this.$refs.selector).style.top = (<HTMLElement>this.$refs[this.selections[this.currentSelection]]).getBoundingClientRect().top +'px';
        (<HTMLElement>this.$refs[this.selections[this.currentSelection]]).focus()
      },
      changeOption(changeBy:number) {
        if (this.selections[this.currentSelection] == 'carType') {
          this.changeCarType(changeBy)
        } else if (this.selections[this.currentSelection] == 'carColor' && this.selectedCarProperty.colors) {
          this.changeCarColor(changeBy)
        }
      },
      changeCarType(changeBy:number) {
        let selectedCarIndex:number = 0;
        let selectedName = <string>this.selectedCarProperty.name
        for (let index in this.engine.carProperties.cars) {
          if (this.engine.carProperties.cars[index].name === selectedName) {
            selectedCarIndex = +index
          }
        }
        selectedCarIndex+= changeBy
        if (selectedCarIndex < 0) {
          selectedCarIndex = this.selectableCars.length - 1
        } else if (selectedCarIndex >= this.selectableCars.length) {
          selectedCarIndex = 0
        }
        this.selectedCarProperty = this.engine.carProperties.cars[selectedCarIndex]
      },
      changeCarColor(changeBy:number) {
        let selectedColorIndex:number = 0;
        let selectedColor = <string>this.selectedCarProperty.selected
        for (let index in this.selectedCarProperty.colors) {
          if (this.selectedCarProperty.colors[index] === selectedColor) {
            selectedColorIndex = +index
          }
        }
        selectedColorIndex+= changeBy
        if (selectedColorIndex < 0) {
          selectedColorIndex = this.selectedCarProperty.colors.length - 1
        } else if (selectedColorIndex >= this.selectedCarProperty.colors.length) {
          selectedColorIndex = 0
        }
        this.selectedCarProperty.selected = this.selectedCarProperty.colors[selectedColorIndex]
      },
      handleSubmit() {
        if (this.username == "") {
            this.error = "please provide a username."
            return
        }

        if (this.selectedCarProperty === null) {
            this.error = "please select a car."
            return
        }

        if (this.selectedCarProperty != null) {
            this.engine.play(this.username, this.cheatCode, this.selectedCarProperty);
        }
      },
      getColorCode(color:string) {
          switch (color) {
            case "black":
              return "#424242";
            case "blue":
              return "#5970A5";
            case "green":
              return "#6DA580";
            case "purple":
              return "#9A58A8";
            case "red":
              return "#D65242";
            case "white":
              return "#FFFFFF";
            default:
              return color;
          }
      }
    },
    directives: { focus: {
      inserted: function (el) {
      el.focus()
      }
    }
    }
})

</script>