<template>
    <div>
        <div class='bullet' :class='bullet.type' v-for="bullet in mainCar.bullets" v-bind:key="bullet.id" v-bind:style="{ 
            'transform': 'rotate('+(bullet.direction)+'deg)', 
            'height': bullet.height + 'px',
            'width': bullet.width + 'px',
            'margin-top': (bullet.topPos - mainCar.topPos)-(bullet.height/2) + 'px', 
            'margin-left': (bullet.leftPos - mainCar.leftPos)-(bullet.width/2) + 'px'}">
            </div>
        <div
            class="explosion" :class="explosion.type"
            v-for="explosion in mainCar.explosions"
            v-bind:key="explosion.id"
            v-bind:style="{ 
            'margin-top': (explosion.topPos -mainCar.topPos) - (16) + 'px', 
            'margin-left': (explosion.leftPos - mainCar.leftPos) - (16) + 'px'}"
            />
        <div
            class="explosion" :class="explosion.type"
            v-for="explosion in mainCar.smoke"
            v-bind:key="explosion.id"
            v-bind:style="{ 
            'width': (explosion.size) + 'px', 
            'height': (explosion.size) + 'px', 
            'border-radius': (explosion.size) + 'px', 
            'opacity': ((100 - explosion.lifespan) / 100), 
            'margin-top': (explosion.topPos -mainCar.topPos) - (explosion.size/2) + 'px', 
            'margin-left': (explosion.leftPos - mainCar.leftPos) - (explosion.size/2) + 'px'}"
            />
        <div class='slip' 
            v-for="slip in mainCar.slips"
            v-bind:key="slip.id"
            v-bind:style="{ 
            'transform': 'rotate('+(slip.direction)+'deg)', 
            'margin-top': (slip.topPos -mainCar.topPos) - (60) + 'px', 
            'margin-left': (slip.leftPos - mainCar.leftPos) - (36) + 'px'}">
            </div>
        <div class='car' :class='(mainCar.health > 0 ? mainCar.type : mainCar.type.split("-")[0] + "-death")' v-bind:style="{ 
            'transform': 'rotate('+(mainCar.carDirection)+'deg)', 
            'opacity': mainCar.phasing? '0.3' : '1'}">
            </div>
        <div v-if='mainCar.activeWeapon' :class='mainCar.type.split("-")[0]+"-weapon weapon-" + mainCar.activeWeapon' v-bind:style="{ 
            'transform': 'rotate('+(mainCar.carDirection)+'deg)'}" />
        <div v-if='mainCar.shield' class='shield' />
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Car } from '../models/Car'
import { CarService } from '../modules/CarService'

export default Vue.extend({
    data () {
        return {
            
        }
    },
    props: {
        mainCar: {
            type: Car
        },
        carService: {
            type: CarService
        }
    }
})

</script>