<template>
    <div class='carMarkHolder'>
        <div class='carMarkHolder' v-for="car in engine.otherPlayersList" v-bind:key="200 + car.id" v-bind:style="{
            'transform': 'rotate('+((Math.atan2((car.leftPos-engine.mainCar.leftPos), (engine.mainCar.topPos-car.topPos)) * (180/Math.PI))-90)+'deg)'}">
            <div class="carMarker"
                v-bind:style="{'border': 'solid '+car.color}"
            />
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Engine } from '../modules/Engine'

export default Vue.extend({
    data () {
        return {
            
        }
    },
    props: {
        engine: {
            type: Engine
        }
    }
})

</script>