<template>
  <div>
    <div id='mobileMovementBall' v-bind:style="{ 
            'left': this.touchX + 'px', 
            'top': this.touchY + 'px'}" />
    <div id='mobileMovementArea' ref='mobileMovementArea' />
    <div id='breakArea' ref='breakArea'><p>break</p></div>
    <div id='fireArea' ref='fireArea'><p>fire</p></div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Engine } from '../modules/Engine'

export default Vue.extend({
    data () {
        return {
            touchX:-1000,
            touchY:-1000,
            movementAreaX: 0,
            movementAreaY: 0,
            movementAreaRadius:100,
            breakAreaX: 0,
            breakAreaY: 0,
            breakAreaRadius:50,
            fireAreaX: 0,
            fireAreaY: 0,
            fireAreaRadius:50,
            direction: 0
        }
    },
    props: {
      engine: {
          type: Engine
      }
    },
    created () {
      document.addEventListener("touchstart", this.press, false);
      document.addEventListener("touchmove", this.press, false);
      document.addEventListener("touchend", this.release, false);
      document.addEventListener("touchcancel", this.release, false);
    },
    mounted () {
      let mobileMovementArea = this.$refs.mobileMovementArea
      if (mobileMovementArea instanceof Element) {
        this.movementAreaX = mobileMovementArea.getBoundingClientRect().left + this.movementAreaRadius
        this.movementAreaY = mobileMovementArea.getBoundingClientRect().top + this.movementAreaRadius
      }

      let fireArea = this.$refs.fireArea
      if (fireArea instanceof Element) {
        this.fireAreaX = fireArea.getBoundingClientRect().left + this.movementAreaRadius
        this.fireAreaY = fireArea.getBoundingClientRect().top + this.movementAreaRadius
      }
      
      let breakArea = this.$refs.breakArea
      if (breakArea instanceof Element) {
        this.breakAreaX = breakArea.getBoundingClientRect().left + this.movementAreaRadius
        this.breakAreaY = breakArea.getBoundingClientRect().top + this.movementAreaRadius
      }
    },
    methods: {
      checkMovementInteraction(touches:TouchList, i:number) {
        let distanceX = touches[i].pageX - this.movementAreaX
        let distanceY = this.movementAreaY - touches[i].pageY
        let distance = Math.sqrt(Math.pow(Math.abs(distanceX), 2) + Math.pow(Math.abs(distanceY), 2))
        if (distance < this.movementAreaRadius) {
          this.touchX = touches[i].pageX
          this.touchY = touches[i].pageY
          this.direction = (Math.atan2(distanceX, distanceY) * (180/Math.PI))
          this.determineDirection()
        } else {
          this.stopMovement()
        }
      },
      checkFireInteraction(touches:TouchList, i:number) {
        let distanceX = touches[i].pageX - this.fireAreaX
        let distanceY = this.fireAreaY - touches[i].pageY
        let distance = Math.sqrt(Math.pow(Math.abs(distanceX), 2) + Math.pow(Math.abs(distanceY), 2))
        if (distance < this.fireAreaRadius) {
          this.startFiring()
        } else {
          this.endFiring()
        }
      },
      checkBreakInteraction(touches:TouchList, i:number) {
        let distanceX = touches[i].pageX - this.breakAreaX
        let distanceY = this.breakAreaY - touches[i].pageY
        let distance = Math.sqrt(Math.pow(Math.abs(distanceX), 2) + Math.pow(Math.abs(distanceY), 2))
        if (distance < this.breakAreaRadius) {
          this.startBreak()
        } else {
          this.endBreak()
        }
      },
      press(evt : TouchEvent) {
        evt.preventDefault();
        let touches = evt.changedTouches;
              
        for (var i = 0; i < touches.length; i++) {
          this.checkMovementInteraction(touches, i)
          this.checkFireInteraction(touches, i)
          this.checkBreakInteraction(touches, i)
        }
      },
      release(e : TouchEvent) {
        this.touchX = -1000,
        this.touchY = -1000
        this.stopMovement()
        this.endFiring()
        this.endBreak()
      },
      startBreak() {
        this.engine.carService.startBreak(this.engine.mainCar)
        this.engine.carService.sendControlEvent(this.engine.mainCar, "startBreak")
      },
      endBreak() {
        this.engine.carService.endBreak(this.engine.mainCar)
        this.engine.carService.sendControlEvent(this.engine.mainCar, "endBreak")
      },
      startFiring() {
        this.engine.carService.startFiring(this.engine.mainCar)
        this.engine.carService.sendControlEvent(this.engine.mainCar, "startFiring")
      },
      endFiring() {
        this.engine.carService.endFiring(this.engine.mainCar)
        this.engine.carService.sendControlEvent(this.engine.mainCar, "endFiring")
      },
      determineDirection() {

        if (Math.abs(this.direction - this.engine.mainCar.carDirection) % 360 < 90 || Math.abs(this.engine.mainCar.speed) > 1) {
          if (this.engine.mainCar.backward) {
            this.engine.carService.endBackward(this.engine.mainCar)
            this.engine.carService.sendControlEvent(this.engine.mainCar, "endBackward")
          }
          this.engine.carService.startForward(this.engine.mainCar)
          this.engine.carService.sendControlEvent(this.engine.mainCar, "startForward")

          let difference = ((this.direction+360) % 360) - ((this.engine.mainCar.carDirection+360) % 360);
          if (difference < -5 && difference > -175 || difference > 175) {
            //go left
            if (this.engine.mainCar.right) {
              this.engine.carService.endRight(this.engine.mainCar)
              this.engine.carService.sendControlEvent(this.engine.mainCar, "endRight")
            }
            this.engine.carService.startLeft(this.engine.mainCar)
            this.engine.carService.sendControlEvent(this.engine.mainCar, "startLeft")
          } else if (difference > 5 && difference < 175 || difference < -175) {
            //go right
            if (this.engine.mainCar.left) {
              this.engine.carService.endLeft(this.engine.mainCar)
              this.engine.carService.sendControlEvent(this.engine.mainCar, "endLeft")
            }
            this.engine.carService.startRight(this.engine.mainCar)
            this.engine.carService.sendControlEvent(this.engine.mainCar, "startRight")
          } else {
            if (this.engine.mainCar.left) {
              this.engine.carService.endLeft(this.engine.mainCar)
              this.engine.carService.sendControlEvent(this.engine.mainCar, "endLeft")
            }
            if (this.engine.mainCar.right) {
              this.engine.carService.endRight(this.engine.mainCar)
              this.engine.carService.sendControlEvent(this.engine.mainCar, "endRight")
            }
          }
        } else {
          if (this.engine.mainCar.forward) {
            this.engine.carService.endForward(this.engine.mainCar)
            this.engine.carService.sendControlEvent(this.engine.mainCar, "endForward")
          }
          this.engine.carService.startBackward(this.engine.mainCar)
          this.engine.carService.sendControlEvent(this.engine.mainCar, "startBackward")
        }
      },
      stopMovement() {
        if (this.engine.mainCar.forward) {
          this.engine.carService.endForward(this.engine.mainCar)
          this.engine.carService.sendControlEvent(this.engine.mainCar, "endForward")
        }

        if (this.engine.mainCar.backward) {
          this.engine.carService.endBackward(this.engine.mainCar)
          this.engine.carService.sendControlEvent(this.engine.mainCar, "endBackward")
        }

        if (this.engine.mainCar.left) {
          this.engine.carService.endLeft(this.engine.mainCar)
          this.engine.carService.sendControlEvent(this.engine.mainCar, "endLeft")
        }
        
        if (this.engine.mainCar.right) {
          this.engine.carService.endRight(this.engine.mainCar)
          this.engine.carService.sendControlEvent(this.engine.mainCar, "endRight")
        }
      }
    }
})

</script>