<template>
    <div>
       <table class="tileSet" v-bind:style="{ 'margin-top': (-(mainCar.topPos-tileSet.activeTopPos)) + 'px', 'margin-left': (-(mainCar.leftPos-tileSet.activeLeftPos)) + 'px', }">
            <tr v-for="(tileRow) in tileSet.activeTiles" v-bind:key="tileRow.id">
                <td v-for="(tile) in tileRow" v-bind:key="tile.id">
                    <div class="tile" v-bind:class=[tile.type] />
                </td>
            </tr>
        </table>
        <div v-bind:class="human.alive? 'human' : 'dead-human'" v-for="human of tileSet.humans" v-bind:key="human.id" v-bind:style="{ 
            'transform': 'rotate('+(human.moveDirection)+'deg)', 
            'margin-top': (human.topPos - mainCar.topPos)-20 + 'px', 
            'margin-left': (human.leftPos - mainCar.leftPos)-20 + 'px'}" />
        <div class='crate' v-bind:class="crate.broken? 'broken ' + crate.crate : crate.crate" v-for="crate of tileSet.tileData.crates" v-bind:key="crate.id" v-bind:style="{ 
            'margin-top': (crate.topPos - mainCar.topPos)-36 + 'px', 
            'margin-left': (crate.leftPos - mainCar.leftPos)-36 + 'px'}" />
        <div class='tree' v-for="tree of tileSet.tileData.trees" v-bind:key="tree.id" v-bind:style="{ 
            'margin-top': (tree.topPos - mainCar.topPos)-44 + 'px', 
            'margin-left': (tree.leftPos - mainCar.leftPos)-44 + 'px'}" />
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { TileSet } from '../models/TileSet'
import { Car } from '../models/Car'

export default Vue.extend({
    data () {
        return {
            
        }
    },
    mounted () {
        this.onResize()
        this.$nextTick(() => {
            window.addEventListener('resize', this.onResize);
        })
    },
    props: {
        tileSet: {
            type: TileSet
        },
        mainCar: {
            type: Car
        }
    },
    methods: {
        onResize() {
            let width = window.innerWidth
            console.log('height: ' + width)
            this.tileSet.visibleRadius = Math.ceil((width / this.tileSet.tileSize))
        }
    }
})

</script>