html, body {
  margin: 0px;
  height: 100%;
  font-family: 'Press Start 2P';
  font-size:12pt;
  color: white;
  background-color: #272A3F;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action:manipulation;
}
#login {
  margin-left: 100px;
  margin-top: 80px;
}
#selector {
  position: absolute;
  top: 91px;
  left: 40px;
  background-image: url('img/selector.png');
  height: 40px;
  width: 41px;
  animation-name: turn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes turn {
  0% {
    transform: scaleY(1)
  }
  50% {
    transform: scaleY(0.1)
  }
  100% {
    transform: scaleY(1)
  }
}
input {
  border: 4px solid #4F5262;
  border-radius: 10px;
  font-family: 'Press Start 2P';
  font-size:12pt;
  color: white;
  background-color:#272A3F;
  margin: 10px 0px;
  padding: 10px 20px;;
}
input:focus {
  border: 4px solid white;
  outline: none;
}
button {
  font-family: 'Press Start 2P';
  font-size:12pt;
  color: white;
  background-color: #D0554A;
  border-radius: 10px;
  border: 4px solid #D0554A;
  padding: 20px 10px;
}
button:hover {
  border: 4px solid white;
}
h1 {
  font-size: 12pt;
  margin-top: 50px;
  margin-bottom: 20px;
}
h3 {
  margin: 0px 0px 20px 0px;
  font-size: 12pt;
}
h4 {
  margin: 0px 0px 5px 0px;
  font-size: 10pt;
}
.carProperties {
  margin-top:30px;
  width: 100%;
  height: 50%;
  display:flex;
  flex-direction: row;
}
.carProperty {
  flex: 1;
  width:200px;
  height: 250px;
  margin-right: 20px;
  border: 4px solid #525565;
  border-radius:10px;
  padding: 20px;
}
.carImage {
  float: left;
  width: 40%;
  height: 70%;
  background-color: #3D4052;
  background-repeat: no-repeat;
  background-position: center;
}
.carSkills {
  float: right;
  width: 50%;
  padding: 5%;
  height: 70%;
}
.skillBar {
  height: 5px;
  width: 100%;
  margin-bottom: 10px;
}
.carProperty.selected, .carColor.selected {
  border: 4px solid white;
}
.carProperty:hover, .carColor:hover {
  border: 4px solid lightgray;
}
.carColors {
  width: 100%;
  height: 50%;
  display: inline-block
}
.carColor {
  float:left;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border: 4px solid #525565;
  border-radius: 10px;
  padding: 10px;
}
.carColorBlock {
  height: 100%;
  width: 100%;
}
.play {
  float: right;
  margin-right: 20px;
}

.playerStats {
  position: absolute;
  left: 20px;
  top: 20px;
  text-shadow: 2px 2px black;
}
.playerStats h1 {
  margin:10px 0px;
}
.playerStats .healthBar {
  border: 2px solid black;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  padding: 5px;
}
.playerStats .healthBar:before {
  position: absolute;
  display: block;
  content: '';
  border: 3px solid white;
  height:40px;
  width:220px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius:10px;
  margin-top:-10px;
  margin-left:-10px;
  box-shadow: 2px 2px black;
}
.active-weapon {
  position: absolute;
  left: 0px;
  top: 100px;
}
.active-weapon-uzi {
  background-image: url("img/weapons/weapon_uzis.png");
  width: 108px;
  height: 60px;
}
.active-weapon-flamethrower {
  background-image: url("img/weapons/weapon_flamethrower.png");
  width: 144px;
  height: 60px;
}
.active-weapon-mines {
  background-image: url("img/weapons/weapon_mines.png");
  width: 60px;
  height: 60px;
}
.active-weapon-rocketlauncher {
  background-image: url("img/weapons/weapon_rocketlauncher.png");
  width: 144px;
  height: 60px;
}
.active-weapon-shield {
  background-image: url("img/weapons/weapon_shield.png");
  width: 56px;
  height: 60px;
}
.active-weapon-spikes {
  background-image: url("img/weapons/weapon_spikes.png");
  width: 144px;
  height: 60px;
}
.active-weapon-shotgun {
  background-image: url("img/weapons/weapon_shotgun.png");
  width: 144px;
  height: 60px;
}
.active-weapon-lasergun {
  background-image: url("img/weapons/weapon_lasergun.png");
  width: 144px;
  height: 60px;
}
div.explosion {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
}
div.clash {
  width: 32px;
  height: 32px;
  /* transition: all 5s ease;*/
  animation-name: clash;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes clash {
  0% {
    background-image: url("img/collision/collision_1.png");
    opacity: 1;
  }
  50% {
    background-image: url("img/collision/collision_2.png");
    opacity: 1;
  }
  100% {
    background-image: url("img/collision/collision_3.png");
    opacity: 0;
  }
}

div.smoke {
  width: 40px;
  height: 40px;
  background: radial-gradient(circle, rgba(124,124,124,0.4) 0%, rgba(147,147,147,0.34) 47%, rgba(0,212,255,0) 100%);
  border-radius: 40px;
}

div.boom {
  width: 45px;
  height: 44px;
  /* transition: all 5s ease;*/
  background-image: url("img/collision/wolkje.png");
  animation-name: boom;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes boom {
  0% {
    transform: scale(5);
    opacity: 0.1;
  }
  50% {
    transform: scale(8);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.human, .dead-human {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 32px;
}
.human {
  animation-name: walking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes walking {
  0% {
    background-image: url("img/human/character-1.png");
  }
  16% {
    background-image: url("img/human/character-2.png");
  }
  33% {
    background-image: url("img/human/character-3.png");
  }
  50% {
    background-image: url("img/human/character-4.png");
  }
  67% {
    background-image: url("img/human/character-3.png");
  }
  83% {
    background-image: url("img/human/character-2.png");
  }
  100% {
    background-image: url("img/human/character-1.png");
  }
}
.dead-human {
  height: 56px;
  width: 48px;
  background-image: url("img/human/character_death-1.png");
}
.prompt {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.prompt p{
  margin: 20px 30px;
  text-shadow: 2px 2px black;
}
div.killstreakMsg {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  font-size:72pt;
  font-weight:bold;
  margin-left:-200px;
  margin-top:-50px;
  /* transition: all 5s ease;*/
  animation-name: grow;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes grow {
  100% {
    transform: scale(5) rotateZ(10deg);
    opacity: 0;
  }
}

.carMarker {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url('img/arrow.png');
  width:32px;
  height:40px;
  transform: rotate(180deg);
  margin-left: 100px;
}
.carMarkHolder {
  position: absolute;
  left: 50%;
  top: 50%;
}

.box {
  width: 100%;
  height: 100%;
}
.slip {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.5;
  background-image: url("img/car-slide.png");
  width: 72px;
  height: 120px;
}
.bullet {
  position: absolute;
  left: 50%;
  top: 50%;
}
.mines {
  background-image: url('img/weapons/ammunition_mine_.png')
}
.rocketlauncher {
  background-image: url('img/weapons/ammunition_rockerlauncher.png')
}
.uzi, .shotgun {
  background-image: url('img/weapons/ammunition_shotgun.png')
}
.lasergun {
  background: #E84639;
  border-radius: 2px;
}
.flamethrower {
  background-color:#E84639;
  border-radius: 2px;
}

.crate {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
}
.health {
  background-image: url("img/object_health.png");
}
.weapon {
  background-image: url("img/object_weapon.png");
}
.broken {
  background-image: url("img/object_crate_broken.png") !important;
}
.tree {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 88px;
  height: 88px;
  background-image: url("img/object_tree.png");
}

.player-list {
  position: absolute;
  right:20px;
  top:20px;
  text-shadow: 2px 2px black;
}
div.player-score {
  position: absolute;
  right:0px;
  width: 300px;
  height:15px;
  background-color: rgba(0,0,0,0.5);
  margin-bottom:10px;
  padding: 10px;
}
div.player-score.you {
  background-color: #31996E;
}
.player-score span.player-name {
  float: left;
}
.player-score span.player-score {
  float: right;
}
/* .player-table td {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border: 5px solid transparent;
  background-clip: padding-box;
}
.player-table td.wide {
  padding: 10px 20px;
}
.player-table td.you {
  background-color: #31996E;
}
.player-table td.highscore {
  background-color: rgba(255,255,0,0.5);
} */

.tile {
  width: 121px;
  height: 121px;
  background-color: black;
  margin-right:-1px;
  margin-bottom:-1px;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 0px;
}

.tileSet{
  position: absolute;
  top: 50%;
  left: 50%;
}

.popupBg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}

.popup {
  background-color: #272A3F;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  top: 100px;
}

#mobileMovementArea {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: rgba(255,255,255,0.3);
}

#mobileMovementBall {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

#breakArea, #fireArea {
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: rgba(255,255,255,0.3);
  text-align: center;
}
#breakArea p, #fireArea p {
  margin-top:30px;
  font-weight:bold;
}

#breakArea {
  left: 350px;
}
#fireArea {
  left: 500px;
}
.shield {
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-150px;
  margin-left:-150px;
  width: 300px;
  height: 300px;
  border-radius:300px;
  border: 3px solid rgba(0,55,155,0.4);
  animation-name: shield;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes shield {
  0% {
    background-color: rgba(0,55,155,0.5);
  }
  50% {
    background-color: rgba(0,55,155,0.1);
  }
  100% {
    background-color: rgba(0,55,155,0.5);
  }
}


/* CAR WEAPONS */
.car-weapon {
  top: 50%;
  left: 50%;
  position: absolute;
  height:128px;
  width:72px;
  margin-top: -64px; 
  margin-left: -36px;
}
.car-weapon.weapon-uzi {
  background-image: url('img/weapons/car_uzis.png');
}
.car-weapon.weapon-spikes {
  background-image: url('img/weapons/car_spikes.png');
}
.car-weapon.weapon-flamethrower {
  background-image: url('img/weapons/car_flamethrower.png');
}
.car-weapon.weapon-rocketlauncher {
  background-image: url('img/weapons/car_rocketlauncher.png');
}
.car-weapon.weapon-shotgun {
  background-image: url('img/weapons/car_shotgun.png');
}
.car-weapon.weapon-lasergun {
  background-image: url('img/weapons/car_lasergun.png');
}
.car-weapon.weapon-mines {
  background-image: url('img/weapons/car_mines.png');
}


/* TRUCK WEAPONS */
.truck-weapon {
  top: 50%;
  left: 50%;
  position: absolute;
  height:208px;
  width:72px;
  margin-top: -104px; 
  margin-left: -36px;
}
.truck-weapon.weapon-uzi {
  background-image: url('img/weapons/truck_uzis.png');
}
.truck-weapon.weapon-spikes {
  background-image: url('img/weapons/truck_spikes.png');
}
.truck-weapon.weapon-flamethrower {
  background-image: url('img/weapons/truck_flamethrower.png');
}
.truck-weapon.weapon-rocketlauncher {
  background-image: url('img/weapons/truck_rocketlauncher.png');
}
.truck-weapon.weapon-shotgun {
  background-image: url('img/weapons/truck_shotgun.png');
}
.truck-weapon.weapon-lasergun {
  background-image: url('img/weapons/truck_lasergun.png');
}
.truck-weapon.weapon-mines {
  background-image: url('img/weapons/truck_mines.png');
}



/* CARS */
.car {
  top: 50%;
  left: 50%;
  position: absolute;
  /* transform: scale(3) 2sec, rotate(10deg) 2sec; */
}
.car-death {
  background-image: url('img/_cars/car-death.png');
}
.car-death,
.car-1-black, .car-1-blue, .car-1-green, .car-1-purple, .car-1-red, .car-1-white, 
.car-2-black, .car-2-blue, .car-2-green, .car-2-purple, .car-2-red, .car-2-white, 
.car-3-black, .car-3-blue, .car-3-green, .car-3-purple, .car-3-red, .car-3-white,
.car-police-default {
  width: 72px; 
  height: 120px;
  margin-top: -60px; 
  margin-left: -36px;
}
.car-1-black {
  background-image: url('img/_cars/car-1-black.png');
}
.car-1-blue {
  background-image: url('img/_cars/car-1-blue.png');
}
.car-1-green {
  background-image: url('img/_cars/car-1-green.png');
}
.car-1-purple {
  background-image: url('img/_cars/car-1-purple.png');
}
.car-1-red {
  background-image: url('img/_cars/car-1-red.png');
}
.car-1-white {
  background-image: url('img/_cars/car-1-white.png');
}
.car-2-black {
  background-image: url('img/_cars/car-2-black.png');
}
.car-2-blue {
  background-image: url('img/_cars/car-2-blue.png');
}
.car-2-green {
  background-image: url('img/_cars/car-2-green.png');
}
.car-2-purple {
  background-image: url('img/_cars/car-2-purple.png');
}
.car-2-red {
  background-image: url('img/_cars/car-2-red.png');
}
.car-2-white {
  background-image: url('img/_cars/car-2-white.png');
}
.car-3-black {
  background-image: url('img/_cars/car-3-black.png');
}
.car-3-blue {
  background-image: url('img/_cars/car-3-blue.png');
}
.car-3-green {
  background-image: url('img/_cars/car-3-green.png');
}
.car-3-purple {
  background-image: url('img/_cars/car-3-purple.png');
}
.car-3-red {
  background-image: url('img/_cars/car-3-red.png');
}
.car-3-white {
  background-image: url('img/_cars/car-3-white.png');
}
.car-police-default {
  background-image: url('img/_cars/car-police-default.png');
  animation-name: tatu;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes tatu {
  0% {
    background-image: url('img/_cars/car-police-lights-1.png');
  }
  50% {
    background-image: url('img/_cars/car-police-lights-2.png');
  }
  100% {
    background-image: url('img/_cars/car-police-lights-1.png');
  }
}
.truck-death {
  background-image: url('img/_cars/truck-death.png');
}
.truck-1-brown, .truck-1-grey, .truck-1-yellow, .truck-death {
  width: 72px; 
  height: 200px;
  margin-top: -100px; 
  margin-left: -36px;
}
.truck-1-brown {
  background-image: url('img/_cars/truck-1-brown.png');
}
.truck-1-grey {
  background-image: url('img/_cars/truck-1-grey.png');
}
.truck-1-yellow {
  background-image: url('img/_cars/truck-1-yellow.png');
}


/* ASSETS NEW MAPPPIIEEEEEE */


.WAL {
  background-image: url("img/wal.png");
}

.GRA {
  background-image: url("img/gra.png");
}



.BUI {
  background-image: url("img/bui.png");
}

.BTL {
  background-image: url("img/btl.png");
}

.BTR {
  background-image: url("img/btr.png");
}

.BBL {
  background-image: url("img/bbl.png");
}

.BBR {
  background-image: url("img/bbr.png");
}

.BT_ {
  background-image: url("img/bt_.png");
}

.BB_ {
  background-image: url("img/bb_.png");
}

.BL_ {
  background-image: url("img/bl_.png");
}

.BR_ {
  background-image: url("img/br_.png");
}

.BC1 {
  background-image: url("img/bc1.png");
}

.BC2 {
  background-image: url("img/bc2.png");
}

.BC3 {
  background-image: url("img/bc3.png");
}

.BC4 {
  background-image: url("img/bc4.png");
}



.ROA {
  background-image: url("img/roa.png");
}

.RTL {
  background-image: url("img/rtl.png");
}

.RTR {
  background-image: url("img/rtr.png");
}

.RBL {
  background-image: url("img/rbl.png");
}

.RBR {
  background-image: url("img/rbr.png");
}

.RT1 {
  background-image: url("img/rt1.png");
}

.RT2 {
  background-image: url("img/rt2.png");
}

.RB1 {
  background-image: url("img/rb1.png");
}

.RB2 {
  background-image: url("img/rb2.png");
}

.RL1 {
  background-image: url("img/rl1.png");
}

.RL2 {
  background-image: url("img/rl2.png");
}

.RR1 {
  background-image: url("img/rr1.png");
}

.RR2 {
  background-image: url("img/rr2.png");
}

.RC1 {
  background-image: url("img/rc1.png");
}

.RC2 {
  background-image: url("img/rc2.png");
}

.RC3 {
  background-image: url("img/rc3.png");
}

.RC4 {
  background-image: url("img/rc4.png");
}

.RBH {
  background-image: url("img/rbh.png");
}

.RBV {
  background-image: url("img/rbv.png");
}



.SEA {
  background-image: url("img/sea.png");
}

.STL {
  background-image: url("img/stl.png");
}

.STR {
  background-image: url("img/str.png");
}

.SBL {
  background-image: url("img/sbl.png");
}

.SBR {
  background-image: url("img/sbr.png");
}

.ST_ {
  background-image: url("img/st_.png");
}

.SB_ {
  background-image: url("img/sb_.png");
}

.SL_ {
  background-image: url("img/sl_.png");
}

.SR_ {
  background-image: url("img/sr_.png");
}

.SC1 {
  background-image: url("img/sc1.png");
}

.SC2 {
  background-image: url("img/sc2.png");
}

.SC3 {
  background-image: url("img/sc3.png");
}

.SC4 {
  background-image: url("img/sc4.png");
}

.CT1 {
  background-image: url("img/ct1.png");
}
.CB1 {
  background-image: url("img/cb1.png");
}
.CL1 {
  background-image: url("img/cl1.png");
}
.CR1 {
  background-image: url("img/cr1.png");
}
.CT2 {
  background-image: url("img/ct2.png");
}
.CB2 {
  background-image: url("img/cb2.png");
}
.CL2 {
  background-image: url("img/cl2.png");
}
.CR2 {
  background-image: url("img/cr2.png");
}
.CT3 {
  background-image: url("img/ct3.png");
}
.CT4 {
  background-image: url("img/ct4.png");
}
.CB3 {
  background-image: url("img/cb3.png");
}
.CB4 {
  background-image: url("img/cb4.png");
}
.CL3 {
  background-image: url("img/cl3.png");
}
.CL4 {
  background-image: url("img/cl4.png");
}
.CR3 {
  background-image: url("img/cr3.png");
}
.CR4 {
  background-image: url("img/cr4.png");
}
.CV1 {
  background-image: url("img/cv1.png");
}
.CV2 {
  background-image: url("img/cv2.png");
}
.CH1 {
  background-image: url("img/ch1.png");
}
.CH2 {
  background-image: url("img/ch2.png");
}
